.todoListsWrapper {
	display: flex;
	gap: 30px;
	justify-content: space-between;
	padding: 0 30px;

	.mat-mdc-card {
		width: 100%;
		display: flex;
		h1{
			margin: 30px 0;
			text-align: center;
		}
	}

	.formWrapper {
		padding: 0 30px 30px 30px;
		display: flex;
		flex-direction: column;

	}

	.buttonsWrapper {
		display: flex;
		justify-content: space-between;
		gap: 60px;
		> button{
			flex-grow: 1;
		}
	}

	.rightContentWrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 40px;

	}

	.tasksWrapper {
		margin: 10px 0 30px 0;
	}
}

