<form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" class="formWrapper">
	<mat-form-field class="example-form-field" [ngClass]="{'mb-3': loginForm.controls['login'].errors && loginForm.controls['login'].touched}">
		<mat-label>Login</mat-label>
		<input matInput type="text" id="login" formControlName="login">
		<mat-error *ngIf="loginForm.controls['login']?.errors?.['required']">
			This field is required
		</mat-error>
		<mat-error *ngIf="loginForm.controls['login']?.errors?.['minlength']">
			Login must consists of at least 3 characters
		</mat-error>
	</mat-form-field>
	<mat-form-field class="example-form-field" [ngClass]="{'mb-3': loginForm.controls['password'].errors && loginForm.controls['password'].touched}">
		<mat-label>Password</mat-label>
		<input matInput type="password" id="password" formControlName="password">
		<mat-error *ngIf="loginForm.controls['password']?.errors?.['required']">
			This field is required
		</mat-error>
		<mat-error *ngIf="loginForm.controls['password']?.errors?.['minlength']">
			Login must consists of at least 8 characters
		</mat-error>
	</mat-form-field>
	<button mat-flat-button color="primary" (click)="onSubmit($event)">Login</button>

</form>
