<mat-sidenav-container>
	<mat-sidenav mode="side" opened>
		<nav>
			<ul>
				<ng-container *ngIf="isLoggedIn()">
					<li>
						<a mat-flat-button color="primary" [routerLink]="'recruitments'">Recruitments</a>
					</li>
					<li>
						<a mat-flat-button color="primary" [routerLink]="'todoLists'" >ToDo Lists</a>
					</li>
				</ng-container>
				<ng-container *ngIf="!isLoggedIn()">
					<li>
						<a mat-flat-button color="primary" [routerLink]="'login'">Login</a>
					</li>
					<li>
						<a mat-flat-button color="primary" [routerLink]="'register'" >Register</a>
					</li>
				</ng-container>

			</ul>
		</nav>
	</mat-sidenav>
	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
